#container {
    position: relative;
}

#img1 {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#img2 {
    height: 270px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    left: 50px;
    top: 100px;
}

p {
    position:absolute;
    left: 25%;
}

#heading {
    font-size: 1.2rem;
}

body {
    padding: 1%;
}